:root {
  --vert-foncer: #3c5f49;
  --vert-moyen: #53c58e;
  --ver-pale: #90e4bb;
  --blanc: #f6f6f6;
  --gris: #434343;
  --degular: "degular", sans-serif;
  --gothic: "itc-avant-garde-gothic-pro", sans-serif;
}

.logo-nav-bar {
  width: 117px;
  height: 118px;
}

.navbar-toggler {
  fill: #3c5f49;
}
.logo {
  width: 140px;
}
.profile-pic {
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}
nav {
  background-color: var(--blanc);
}
.name-logo {
  font-family: var(--degular);
  font-weight: 900;
  color: var(--vert-foncer);
}

.profile-pic {
  background-color: black;
  width: 50px;
  height: 50px;
}
