:root {
  --vert-foncer: #3c5f49;
  --vert-moyen: #53c58e;
  --ver-pale: #90e4bb;
  --blanc: #f6f6f6;
  --gris: #434343;
  --degular: "degular", sans-serif;
  --gothic: "itc-avant-garde-gothic-pro", sans-serif;
}
body {
  background-color: var(--blanc);
}
.logo-nav-bar {
  width: 117px;
  height: 118px;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem;
}
.navbar-toggler {
  fill: #3c5f49;
}
.logo {
  width: 140px;
}
.profile-pic {
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-block;
}
nav {
  background-color: var(--blanc);
  box-shadow: 0px 10px 31px 11px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 0px 10px 31px 11px rgba(0, 0, 0, 0.151);
  -moz-box-shadow: 0px 10px 31px 11px rgba(0, 0, 0, 0.144);
}
.name-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.profile-pic {
  background-color: black;
  width: 50px;
  height: 50px;
}

footer {
  background-color: var(--vert-foncer);
  font-family: var(--degular);
  font-weight: 300;
  color: var(--blanc);
}
.link-github {
  color: var(--blanc);
}
.logo-tim {
  min-width: 200px;
}

.form {
  position: relative;
}


.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

.filter-recherche {
  position: absolute;
  top: 170px;
  left: 50vw;
  transform: translateX(-50%);
}

.btn-primary {
  background-color: white;
  color: var(--vert-foncer);
  border: 1px solid var(--vert-foncer);
  transition-property: background-color, color, border;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  box-shadow: none;
}
.btn-primary:hover {
  background-color: var(--vert-foncer);
  color: white;
  border: 1px solid var(--vert-foncer);
  box-shadow: none;
}
.btn-primary:active {
  background-color: var(--vert-foncer);
  color: white;
  border: 1px solid var(--vert-foncer);
  box-shadow: none;
}
.btn-primary:focus {
  background-color: var(--vert-foncer);
  color: white;
  border: 1px solid var(--vert-foncer);
  box-shadow: none;
}
.btn-primary:visited {
  background-color: var(--vert-foncer);
  color: white;
  border: 1px solid var(--vert-foncer);
  box-shadow: none;
}

.sec-en-vedette{
  position:absolute;
  top: 250px;
}